body {
  color: pink;
  font-weight: bold;
  font-family: "Helvetica", Sans-Serif;
  background-image: url("fruit-bowl-with-linnens.jpg");
  padding: 0;
  text-align: center;
  font-size: 27px;
}

#game-intro {
  height: 800px;
  padding: 20px 0px;
  justify-content: center;
  align-content: center;
}

#game1-container {
  display: flex;
  width: 100vw;
  padding: 100px 10px;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  animation: slide 5s linear infinite;
}

.img-button-container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: auto;
}
@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

.score-elements {
  display: flex;
  flex-direction: column;
  font-sixe: 16;
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: blue;
  color: pink;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: center;
}
.firstImg {
  justify-content: left;
}
